<div class="section-inner-banner" style="background-image: url(../../assets/img/scholar-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Scholarships</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark pb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-pad-left col-md-6 m-auto">
                <div class="content-dark">
                    <h2>Scholarships For Academic Excellence</h2>
                    <p>The Legacy of Excellence was established more than 10 years ago to reward students with high academic achievement. US and non-US students entering the four-year MD program who meet the scholarship criteria are eligible for one of the
                        two Legacy of Excellence Scholarships.</p>
                    <h2>Humanitarian Scholarship</h2>
                    <p>Furthering our commitment to global medicine and humanitarian causes, SGU offers partial scholarships to incoming MD students who have demonstrated compassion and commitment to humanitarian causes in their local communities and beyond.
                        Students who have community-based humanitarian experiences within the past 5 years and a desire to help ease the suffering of people who have been impacted around the world are eligible.</p>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0">
                <div class="cont-vidimg-wrap img-right">
                    <img src="../../assets/img/scholar-1.png" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scholarships-wrap">
    <div class="section-standard-cont bg-grey content-dark pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 m-auto order-md-2">
                    <div class="cont-vidimg-wrap img-right">
                        <img src="../../assets/img/pre-med.png" alt="About CiMEDs" class="max-100">
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                    <div class="content-blue mt-1 mb-3">
                        <h2>Health Professions Grant</h2>
                    </div>
                    <div class="scholarship-cont content-dark">
                        <h5>Value:</h5>
                        <ul>
                            <li>Up to $70,000</li>
                        </ul>
                        <h5>Criteria:</h5>
                        <ul>
                            <li>Students who demonstrate academic excellence in their undergraduate studies.</li>
                            <li>Strong graduate studies and post-bac performances will also be taken into consideration</li>
                        </ul>
                        <h5>How to be considered for this scholarship</h5>
                        <ul>
                            <li>Complete your admissions application and contact your admissions officer.</li>
                        </ul>
                        <h5>Notification</h5>
                        <ul>
                            <li>Students are identified during the admission application process and notified of their award through the Admissions Office upon acceptance into the University.</li>
                        </ul>
                        <div class="btn-1">
                            <a href="program-1.html">read more!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section-standard-cont content-dark pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 m-auto order-md-2">
                    <div class="cont-vidimg-wrap img-right">
                        <img src="../../assets/img/md-prog.png" alt="About CiMEDs" class="max-100">
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                    <div class="content-blue mt-1 mb-3">
                        <h2>Legacy Of Excellence Scholarship (LOE)
                        </h2>
                    </div>
                    <div class="scholarship-cont content-dark">
                        <h5>Value:</h5>
                        <ul>
                            <li>Up to $70,000</li>
                        </ul>
                        <h5>Criteria:</h5>
                        <ul>
                            <li>Students who demonstrate academic excellence in their undergraduate studies.</li>
                            <li>Strong graduate studies and post-bac performances will also be taken into consideration</li>
                        </ul>
                        <h5>How to be considered for this scholarship</h5>
                        <ul>
                            <li>Complete your admissions application and contact your admissions officer.</li>
                        </ul>
                        <h5>Notification</h5>
                        <ul>
                            <li>Students are identified during the admission application process and notified of their award through the Admissions Office upon acceptance into the University.</li>
                        </ul>
                        <div class="btn-1">
                            <a href="program-1.html">read more!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section-standard-cont bg-grey content-dark pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 m-auto order-md-2">
                    <div class="cont-vidimg-wrap img-right">
                        <img src="../../assets/img/pre-med.png" alt="About CiMEDs" class="max-100">
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                    <div class="content-blue mt-1 mb-3">
                        <h2>Health Professions Grant</h2>
                    </div>
                    <div class="scholarship-cont content-dark">
                        <h5>Value:</h5>
                        <ul>
                            <li>Up to $70,000</li>
                        </ul>
                        <h5>Criteria:</h5>
                        <ul>
                            <li>Students who demonstrate academic excellence in their undergraduate studies.</li>
                            <li>Strong graduate studies and post-bac performances will also be taken into consideration</li>
                        </ul>
                        <h5>How to be considered for this scholarship</h5>
                        <ul>
                            <li>Complete your admissions application and contact your admissions officer.</li>
                        </ul>
                        <h5>Notification</h5>
                        <ul>
                            <li>Students are identified during the admission application process and notified of their award through the Admissions Office upon acceptance into the University.</li>
                        </ul>
                        <div class="btn-1">
                            <a href="program-1.html">read more!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="section-standard-cont content-dark pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 m-auto order-md-2">
                    <div class="cont-vidimg-wrap img-right">
                        <img src="../../assets/img/md-prog.png" alt="About CiMEDs" class="max-100">
                    </div>
                </div>
                <div class="col-md-8 order-md-1">
                    <div class="content-blue mt-1 mb-3">
                        <h2>Legacy Of Excellence Scholarship (LOE)
                        </h2>
                    </div>
                    <div class="scholarship-cont content-dark">
                        <h5>Value:</h5>
                        <ul>
                            <li>Up to $70,000</li>
                        </ul>
                        <h5>Criteria:</h5>
                        <ul>
                            <li>Students who demonstrate academic excellence in their undergraduate studies.</li>
                            <li>Strong graduate studies and post-bac performances will also be taken into consideration</li>
                        </ul>
                        <h5>How to be considered for this scholarship</h5>
                        <ul>
                            <li>Complete your admissions application and contact your admissions officer.</li>
                        </ul>
                        <h5>Notification</h5>
                        <ul>
                            <li>Students are identified during the admission application process and notified of their award through the Admissions Office upon acceptance into the University.</li>
                        </ul>
                        <div class="btn-1">
                            <a href="program-1.html">read more!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>