<div class="section-inner-banner" style="background-image: url(../../assets/img/admission-ban.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Admission Requirements</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-pad-left col-md-6 m-auto">
                <div class="content-dark">
                    <h2>Medical School Requirements</h2>
                    <p>Qualified students from around the world apply to the <strong>CIMEDS</strong> University School of Medicine to pursue their Doctor of Medicine (MD) whether it be in the four-year post-baccalaureate program, or in the five-, six-, or
                        seven-year MD programs.
                    </p>
                    <p>Located in <strong>CIMEDS</strong> medical school with a global reach. Our medical school admission requirements recognize the needs of our international students.
                    </p>
                    <p>Students applying for a dual MD/MSc or MD/MPH degree program must include the Graduate Addendum of the application to the MD program. Candidates will be reviewed by the School of Medicine’s Faculty Student Selection Committee first
                        and then by the subcommittee that determines acceptance to graduate degree programs.</p>
                    <p>ALL APPLICANTS: Applicants are advised that the Faculty Student Selection Committee requires an academic indicator (completed coursework or examination score) within the three years prior to application. North American applicants are
                        advised that MCAT scores may be used as a recent academic indicator.</p>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0">
                <div class="cont-vidimg-wrap img-right">
                    <img src="../../assets/img/admission-1.jpg" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-program-breakdown pt-5 pb-5 content-dark">
    <div class="container">
        <div class="align-items-start">
            <div class="row">
                <div class="col-md-2">
                    <h3>Program</h3>
                    <div class="nav flex-column nav-pills me-3" id="adm-req-v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="adm-req-v-1-tab" data-bs-toggle="pill" data-bs-target="#adm-req-v-1" type="button" role="tab" aria-controls="adm-req-v-1" aria-selected="true">
                            Global MD
                            </button>
                        <button class="nav-link" id="adm-req-v-2-tab" data-bs-toggle="pill" data-bs-target="#adm-req-v-2" type="button" role="tab" aria-controls="adm-req-v-2" aria-selected="false">
                                MBBS
                            </button>
                        <button class="nav-link" id="adm-req-v-3-tab" data-bs-toggle="pill" data-bs-target="#adm-req-v-3" type="button" role="tab" aria-controls="adm-req-v-3" aria-selected="false">
                            USMLE
                            Preparation Program
                            </button>


                    </div>
                </div>
                <div class="col-md-10">
                    <div class="tab-content" id="adm-req-v-pills-tabContent">
                        <div class="tab-pane fade show active" id="adm-req-v-1" role="tabpanel" aria-labelledby="adm-req-v-1-tab">
                            <ul class="nav nav-tabs" id="adm-req-v-1-h-nav" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="adm-req-v-1-h-1-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-1-h-1" type="button" role="tab" aria-controls="adm-req-v-1-h-1" aria-selected="true">requirements</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-1-h-2-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-1-h-2" type="button" role="tab" aria-controls="adm-req-v-1-h-2" aria-selected="false">student selections</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-1-h-3-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-1-h-3" type="button" role="tab" aria-controls="adm-req-v-1-h-3" aria-selected="false">admission process</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-1-h-4-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-1-h-4" type="button" role="tab" aria-controls="adm-req-v-1-h-4" aria-selected="false">application</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="adm-req-v-1-h-content">
                                <div class="tab-pane fade content-formatting show active" id="adm-req-v-1-h-1" role="tabpanel" aria-labelledby="adm-req-v-1-h-1-tab">
                                    <ul>
                                        <li>Admission Prerequisite (Courses)</li>
                                        <li>Language Proficiency Requirement</li>
                                        <li>Required Documents</li>
                                        <ol>
                                            <li>Resume / CV</li>
                                            <li>Transcript</li>
                                            <li>Personal Statement</li>
                                        </ol>
                                        <li>Letters of Recommendation</li>
                                        <li>Other Application Requirement</li>
                                        <li>Transfer Policy</li>
                                        <li>Deferrals</li>
                                        <li>Conditional Admission Requirement</li>
                                        <li>Appeal and Complaints</li>
                                        <li>Visa Requirement</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-1-h-2" role="tabpanel" aria-labelledby="adm-req-v-1-h-2-tab">
                                    <h3>4-Year Global MD Program Entry Requirements:</h3>

                                    <h4>MD Program Entry Points with Possible English for Medicine Pathway (EMP) Based on IELTS Score:</h4>
                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-1-h-3" role="tabpanel" aria-labelledby="adm-req-v-1-h-3-tab">
                                    <h3>4-Year Global MD Program Entry Requirements:</h3>

                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-1-h-4" role="tabpanel" aria-labelledby="adm-req-v-1-h-4-tab">
                                    <h3>4-Year Global MD Program Entry Requirements:</h3>

                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="adm-req-v-2" role="tabpanel" aria-labelledby="adm-req-v-2-tab">
                            <ul class="nav nav-tabs" id="adm-req-v-2-h-nav" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="adm-req-v-2-h-1-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-2-h-1" type="button" role="tab" aria-controls="adm-req-v-2-h-1" aria-selected="true">requirements</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-2-h-2-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-2-h-2" type="button" role="tab" aria-controls="adm-req-v-2-h-2" aria-selected="false">student selections</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-2-h-3-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-2-h-3" type="button" role="tab" aria-controls="adm-req-v-2-h-3" aria-selected="false">admission process</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-2-h-4-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-2-h-4" type="button" role="tab" aria-controls="adm-req-v-2-h-4" aria-selected="false">application</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="adm-req-v-2-h-content">
                                <div class="tab-pane fade content-formatting show active" id="adm-req-v-2-h-1" role="tabpanel" aria-labelledby="adm-req-v-2-h-1-tab">
                                    <ul>
                                        <li>Admission Prerequisite (Courses)</li>
                                        <li>Language Proficiency Requirement</li>
                                        <li>Required Documents</li>
                                        <ol>
                                            <li>Resume / CV</li>
                                            <li>Transcript</li>
                                            <li>Personal Statement</li>
                                        </ol>
                                        <li>Letters of Recommendation</li>
                                        <li>Other Application Requirement</li>
                                        <li>Transfer Policy</li>
                                        <li>Deferrals</li>
                                        <li>Conditional Admission Requirement</li>
                                        <li>Appeal and Complaints</li>
                                        <li>Visa Requirement</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-2-h-2" role="tabpanel" aria-labelledby="adm-req-v-2-h-2-tab">
                                    <h4>MD Program Entry Points with Possible English for Medicine Pathway (EMP) Based on IELTS Score:</h4>
                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-2-h-3" role="tabpanel" aria-labelledby="adm-req-v-2-h-3-tab">
                                    <h4>MD Program Entry Points with Possible English for Medicine Pathway (EMP) Based on IELTS Score:</h4>
                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-2-h-4" role="tabpanel" aria-labelledby="adm-req-v-2-h-4-tab">
                                    <h4>MD Program Entry Points with Possible English for Medicine Pathway (EMP) Based on IELTS Score:</h4>
                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="adm-req-v-3" role="tabpanel" aria-labelledby="adm-req-v-3-tab">
                            <ul class="nav nav-tabs" id="adm-req-v-3-h-nav" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="adm-req-v-3-h-1-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-3-h-1" type="button" role="tab" aria-controls="adm-req-v-3-h-1" aria-selected="true">requirements</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-3-h-2-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-3-h-2" type="button" role="tab" aria-controls="adm-req-v-3-h-2" aria-selected="false">student selections</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-3-h-3-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-3-h-3" type="button" role="tab" aria-controls="adm-req-v-3-h-3" aria-selected="false">admission process</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="adm-req-v-3-h-4-tab" data-bs-toggle="tab" data-bs-target="#adm-req-v-3-h-4" type="button" role="tab" aria-controls="adm-req-v-3-h-4" aria-selected="false">application</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="adm-req-v-3-h-content">
                                <div class="tab-pane fade content-formatting show active" id="adm-req-v-3-h-1" role="tabpanel" aria-labelledby="adm-req-v-3-h-1-tab">
                                    <ul>
                                        <li>Admission Prerequisite (Courses)</li>
                                        <li>Language Proficiency Requirement</li>
                                        <li>Required Documents</li>
                                        <ol>
                                            <li>Resume / CV</li>
                                            <li>Transcript</li>
                                            <li>Personal Statement</li>
                                        </ol>
                                        <li>Letters of Recommendation</li>
                                        <li>Other Application Requirement</li>
                                        <li>Transfer Policy</li>
                                        <li>Deferrals</li>
                                        <li>Conditional Admission Requirement</li>
                                        <li>Appeal and Complaints</li>
                                        <li>Visa Requirement</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-3-h-2" role="tabpanel" aria-labelledby="adm-req-v-3-h-2-tab">
                                    <h4>MD Program Entry Points with Possible English for Medicine Pathway (EMP) Based on IELTS Score:</h4>
                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-3-h-3" role="tabpanel" aria-labelledby="adm-req-v-3-h-3-tab">
                                    <h4>MD Program Entry Points with Possible English for Medicine Pathway (EMP) Based on IELTS Score:</h4>
                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                                <div class="tab-pane fade content-formatting" id="adm-req-v-3-h-4" role="tabpanel" aria-labelledby="adm-req-v-3-h-4-tab">
                                    <h4>MD Program Entry Points with Possible English for Medicine Pathway (EMP) Based on IELTS Score:</h4>
                                    <img src="../../assets/img/score.jpg" alt="" class="max-100">
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>