<div class="section-inner-banner" style="background-image: url(../../assets/img/app-portal-ban.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Application Portal</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-pad-left col-md-6 m-auto">
                <div class="content-dark">
                    <p>Medical Applicant Portal (MAP) is an online resource for Global students and alumni to identify themselves to the PreMed and PreHealth Advising Program, receive information and updates, develop a portfolio of activities and experiences,
                        and collect letters of evaluation and application materials</p>
                    <p>Through MAP, advisors help guide students along their journey to medicine and partner with applicants to ensure the most competitive application possible. Having a MAP assures that you have identified yourself as either currently planning
                        and preparing for a future career as a healthcare professional or exploring the possibility of a medical career. MAP is for Northeastern use only; it is not your health professional school application and it doesn’t commit you
                        to <a href="#">Apply</a>.</p>
                    <p>You may register for your MAP account via the resources page on Student Hub or directly at the following link: <a href="#">Medical Applicant Portal (New User Registration)</a>.</p>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0">
                <div class="cont-vidimg-wrap img-right">
                    <img src="../../assets/img/app-portal-1.jpg" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-standard-cont pb-3 content-dark">
    <div class="container-fluid">
        <div class="row">

            <div class="col-pad-right col-md-6 m-auto order-md-2">
                <div class="mission-vision-content content-dark">
                    <h2>Communication</h2>
                    <p>
                        The MAP interface allows the PreMed and PreHealth Advising Program to be in touch with students and applicants. Make sure your information, including “Year Entering Health Program” and “Health Discipline” is up-to-date to ensure you’re receiving applicable
                        email communications from the PreMed and PreHealth Advising Program.
                    </p>
                    <h2>Preparation</h2>
                    <p>
                        A lot of information will be required on your application. Use MAP to keep track of your activities and experiences at the end of each semester. By keeping track of information as you progress, you will be better prepared to complete your application.</p>
                    <h2>Applying</h2>
                    <p>Use MAP to gather and organize materials for your application so you are fully prepared before the centralized application opens. This helps to facilitate applying early, which is essential!
                    </p>
                    <p>For Pre-Med and Pre-Dental students, MAP is a required part of the Committee Letter process. The PreMed and PreHealth Advising Program uses all the information you have submitted in MAP when writing your Committee Letter. One way for
                        you to have a positive impact on your Committee Letter is to provide us with thorough information on MAP. Your completed Self-Assessment and Letters of Evaluation will also be submitted via MAP. Learn more about Committee Letter
                        requirements here.</p>
                    <div class="btn-1">
                        <a href="#">login application portal!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0 order-md-1">
                <div class="cont-vidimg-wrap img-left">
                    <img src="../../assets/img/app-portal-2.jpg" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>