<div class="section-inner-banner" style="background-image: url(../../assets/img/qual-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Quality Policy</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-pad-left col-md-6 m-auto">
                <div class="content-dark">

                    <p>The Quality Policy of CIMEDS is as follows:</p>
                    <ol>
                        <li>Commits to educate the new generation of medical professionals in a collaborative learning environment with the highest quality of medical education by granting them the best grounds of basic medical knowledge. </li>
                        <li>To promote and cultivate learning by research through technological support and expertise to transformative knowledge to promote the quality of health and life for humanity. </li>
                        <li>Pledges to support the development of its students into highly successful and respected physicians. </li>
                        <li>Instils, the quality of CIMEDS in its students who will be instrumental in guiding peers of the medical community across the globe and contribute towards building healthier societies. </li>
                        <li>To provide accessible , innovative health and wellness care services to improve health outcomes through science, technology and advanced research.
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0">
                <div class="cont-vidimg-wrap img-right">
                    <img src="../../assets/img/qual-1.png" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="section-standard-cont content-dark">
    <div class="container-fluid">
        <div class="row">

            <div class="col-pad-right col-md-6 m-auto order-md-2">
                <div class="content-dark">
                    <h2>Education quality principles</h2>
                    <p>The Education Quality Procedure describes CIMEDS’s education quality framework. Central to the framework is the education quality cycle which supports the systematic collection and use of qualitative information and quantitative data
                        to monitor impact, identify improvement opportunities and judge the effectiveness of quality enhancement actions.</p>
                    <p>To ensure that education quality enhancement and assurance processes are sustainable and cost effective, they will be embedded in existing systems and practices and will utilize existing sources of information wherever possible.</p>
                    <p>Roles and accountabilities for implementation of the education quality framework will be assigned and clearly communicated to assist in developing a culture of continuous improvement.</p>
                    <p>The outcomes of education quality enhancement and assurance processes will be communicated to students, staff and other stakeholders, thereby ensuring ongoing engagement in the delivery of a quality education experience.</p>

                    <p>Dissemination channels include formal reporting channels, quality action plans, targeted communications, feedback and the student learning system. </p>
                    <div class="btn-1">
                        <a href="#">View Our Quality Policy!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0 order-md-1">
                <div class="cont-vidimg-wrap img-left">
                    <img src="../../assets/img/qual-2.png" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div> -->