<div class="section-inner-banner" style="background-image: url(../../assets/img/program-2-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Bachelor of Medicine and Bachelor of Surgery (MBBS) </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-dark text-center">
                    <p>The Bachelor of Medicine and Bachelor of Surgery (MBBS) is designed to develop a new generation of medical professionals with 21st-century healthcare skills. It combines theoretical learning in a revolutionary digital environment with
                        hands-on practical rotations.</p>
                    <p>From the start of the first year, learners will spend a minimum of 3 hours per week of clinical observations/ rotations, to expose the learners to the clinical setting and patient care from a very early stage. During this program,
                        they delve deeper into the domains of medicine within their study of theoretical and practical content, to foster the development of problem-solving and critical thinking skills while emphasizing treatment and clinical management
                        of patients. During the final two semesters, learners will engage in an internship program while receiving special training sessions to help them better prepare for the licensing exams of their respective countries.</p>
                    <p>The final goal of the MBBS program is – the training of professional and empathetic medical professionals capable of practicing evidence-based medicine from day one, thus helping to improve the health and welfare of the population.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section-program-breakdown program-layout-1 pt-5 content-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center content-red">
                <h2>5.5-year MBBS Program </h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="mbbs-v-pills-tab" role="tablist" aria-orientation="vertical">


                        <button class="nav-link active" id="mbbs-v-1-tab" data-bs-toggle="pill" data-bs-target="#mbbs-v-1" type="button" role="tab" aria-controls="mbbs-v-1" aria-selected="false">
                            Eligibility
                        </button>
                        <button class="nav-link" id="mbbs-v-2-tab" data-bs-toggle="pill" data-bs-target="#mbbs-v-2" type="button" role="tab" aria-controls="mbbs-v-2" aria-selected="false">Curriculum Information</button>


                    </div>
                    <div class="tab-content" id="mbbs-v-pills-tabContent">
                        <div class="tab-pane fade show active" id="mbbs-v-1" role="tabpanel" aria-labelledby="mbbs-v-1-tab">
                            <h2>Eligibility</h2>
                            <p>10+2 years of formal education with Physics, Chemistry, and Biology Eligible candidates will have to clear CIMEDS Online Entrance Test to get admission to the program
                            </p>

                        </div>
                        <div class="tab-pane fade" id="mbbs-v-2" role="tabpanel" aria-labelledby="mbbs-v-2-tab">
                            <div class="program-content-accordion" id="mbbs-v-2-content-accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mbbs-v-2-cont-acc-head-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#mbbs-v-2-cont-acc-collapse-1" aria-expanded="true" aria-controls="mbbs-v-2-cont-acc-collapse-1">
                                            Semester 1 & 2
                                        </button>
                                    </h2>
                                    <div id="mbbs-v-2-cont-acc-collapse-1" class="accordion-collapse collapse show" aria-labelledby="mbbs-v-2-cont-acc-head-1" data-bs-parent="#mbbs-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Anatomy</li>
                                                <li>Biochemistry</li>
                                                <li>Physiology</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mbbs-v-2-cont-acc-head-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mbbs-v-2-cont-acc-collapse-2" aria-expanded="false" aria-controls="mbbs-v-2-cont-acc-collapse-2">
                                            Semester 3, 4 & 5
                                        </button>
                                    </h2>
                                    <div id="mbbs-v-2-cont-acc-collapse-2" class="accordion-collapse collapse" aria-labelledby="mbbs-v-2-cont-acc-head-2" data-bs-parent="#mbbs-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Community Medicine</li>
                                                <li>Forensic Medicine</li>
                                                <li>Pathology</li>
                                                <li>Pharmacology</li>
                                                <li>Microbiology</li>
                                                <li>Clinical Posting</li>
                                                <li>OPD Practice</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mbbs-v-2-cont-acc-head-3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mbbs-v-2-cont-acc-collapse-3" aria-expanded="false" aria-controls="mbbs-v-2-cont-acc-collapse-3">
                                            Semester 6, 7, 8 & 9
                                        </button>
                                    </h2>
                                    <div id="mbbs-v-2-cont-acc-collapse-3" class="accordion-collapse collapse" aria-labelledby="mbbs-v-2-cont-acc-head-3" data-bs-parent="#mbbs-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Community Medicine</li>
                                                <li>Psychiatry Medicine</li>
                                                <li>Dermatology Medicine</li>
                                                <li>Obstetrics and Gynecology</li>
                                                <li>Pediatrics</li>
                                                <li>Surgery</li>
                                                <li>Anesthesiology</li>
                                                <li>E.N.T.</li>
                                                <li>Ophthalmology</li>
                                                <li>Orthopedics</li>
                                                <li>Clinical Posting</li>
                                                <li>OPD Practice</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="mbbs-v-2-cont-acc-head-4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mbbs-v-2-cont-acc-collapse-4" aria-expanded="false" aria-controls="mbbs-v-2-cont-acc-collapse-4">
                                            Semester 10 & 11
                                        </button>
                                    </h2>
                                    <div id="mbbs-v-2-cont-acc-collapse-4" class="accordion-collapse collapse" aria-labelledby="mbbs-v-2-cont-acc-head-4" data-bs-parent="#mbbs-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Internship</li>
                                                <li>National Exam Prep Sessions</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-5 img-right">
                <img src="../../assets/img/pre-med.png" alt="program" class="max-100">
                <div class="program-ctas">
                    <div class="btn-1">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#brochureModal">download brochure</a>
                    </div>
                    <div class="btn-1">
                        <a href="#">apply now!</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>