<div class="section-inner-banner" style="background-image: url(../../assets/img/program-2-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>USMLE Preparation Program </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-dark text-center">
                    <p>CIMEDS specializes in medical education by immersive medical practices that will enable many existing medical under-graduates or practitioners to target medical residency programs in countries like the US, Canada, Australia, New Zealand,
                        and the Middle East via the USMLE - AMC Exam Preparatory Program. The Preparatory Program is structured in two modules viz. Step 1 and Step 2. The program also allows an option to prepare for the Australian Medical Council Exams
                        (AMC).
                    </p>
                    <p>Step 1 guides the learners through basic sciences, providing them with knowledge and skills to interpret graphic and tubular material into clinical aspects. Step 2 adds relevant clinical knowledge and basic principles from all fields
                        of medicine via expert sessions and integrated content for each organ system covering basics and clinical subject principles. In addition, to help boost confidence, the program provides:</p>
                    <ol>
                        <li>customized study planners</li>
                        <li>study material,</li>
                        <li>practice questions</li>
                        <li>step-by-step explanations, and mock examinations</li>
                    </ol>

                    <p>At the end of the program, learners will be equipped with the necessary tools and strategies to help solve clinical cases using evidence-based medicine and clinician experiences. In addition, the learner will be able to formulate patient-centric
                        healthcare plans using modern clinical advances and knowledge to incorporate in clinical practice with confidence.</p>
                    <p>While the program is exam-oriented, it is an important fact to emphasize that the program is not designed as a set of target exam question/answer bank or to provide the learner with a set of questions/answers to memorize, but a guided
                        session by expert lecturers in each field providing material and teachings to prepare the learner for the USMLE Step 1 & 2 and AMC Exams while earning the MD credential from CIMEDS.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section-program-breakdown program-layout-1 pt-5 content-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center content-red">
                <h2></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="usmle-v-pills-tab" role="tablist" aria-orientation="vertical">


                        <button class="nav-link active" id="usmle-v-1-tab" data-bs-toggle="pill" data-bs-target="#usmle-v-1" type="button" role="tab" aria-controls="usmle-v-1" aria-selected="false">
                            Alignment
                        </button>
                        <button class="nav-link" id="usmle-v-2-tab" data-bs-toggle="pill" data-bs-target="#usmle-v-2" type="button" role="tab" aria-controls="usmle-v-2" aria-selected="false">Eligibility</button>
                        <button class="nav-link" id="usmle-v-3-tab" data-bs-toggle="pill" data-bs-target="#usmle-v-3" type="button" role="tab" aria-controls="usmle-v-3" aria-selected="false">Curriculum Information</button>


                    </div>
                    <div class="tab-content" id="usmle-v-pills-tabContent">
                        <div class="tab-pane fade show active" id="usmle-v-1" role="tabpanel" aria-labelledby="usmle-v-1-tab">
                            <h2>Alignment</h2>
                            <p>The program is aligned with the United States Medical Licensing Examination (USMLE) and the Australian Medical Council Examination (AMC)</p>

                        </div>
                        <div class="tab-pane fade show" id="usmle-v-2" role="tabpanel" aria-labelledby="usmle-v-2-tab">
                            <h2>Eligibility</h2>
                            <p>MBBS qualified and aspirants for USMLE Step 1 and Step 2</p>

                        </div>
                        <div class="tab-pane fade" id="usmle-v-3" role="tabpanel" aria-labelledby="usmle-v-3-tab">
                            <div class="program-content-accordion" id="usmle-v-2-content-accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="usmle-v-2-cont-acc-head-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#usmle-v-2-cont-acc-collapse-1" aria-expanded="true" aria-controls="usmle-v-2-cont-acc-collapse-1">
                                            Step 1 Preparation – 12 months 
                                        </button>
                                    </h2>
                                    <div id="usmle-v-2-cont-acc-collapse-1" class="accordion-collapse collapse show" aria-labelledby="usmle-v-2-cont-acc-head-1" data-bs-parent="#usmle-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <p>The modules are conducted in a systemic approach:</p>
                                            <ul>
                                                <li>Behavioral Science and Social Sciences</li>
                                                <li>Immunology and Microbiology</li>
                                                <li>Pathology </li>
                                                <li>Anatomy (Embryology, Histology, and Gross Anatomy)</li>
                                                <li>Physiology</li>
                                                <li>Pharmacology</li>
                                                <li>Biochemistry and Medical Genetics</li>
                                            </ul>
                                            <p>Each module listed below is designed to incorporate the main principles of basic sciences into clinical diagnoses, treatment, investigations, patient care, and day-to-day practice.</p>
                                            <ul>
                                                <li>Musculoskeletal</li>
                                                <li>Neuro</li>
                                                <li>Cardiac</li>
                                                <li>Respiratory</li>
                                                <li>Gastrointestinal</li>
                                                <li>Endocrine</li>
                                                <li>Genitourinary</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="usmle-v-2-cont-acc-head-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#usmle-v-2-cont-acc-collapse-2" aria-expanded="false" aria-controls="usmle-v-2-cont-acc-collapse-2">
                                            Step 2 Preparation – 12 months 
                                        </button>
                                    </h2>
                                    <div id="usmle-v-2-cont-acc-collapse-2" class="accordion-collapse collapse" aria-labelledby="usmle-v-2-cont-acc-head-2" data-bs-parent="#usmle-v-2-content-accordion">
                                        <div class="accordion-body">
                                            General Principles of foundation sciences.
                                            <ul>
                                                <li>Biostatistics & Epidemiology/Population Health/Interpretation of Medical Literature.</li>
                                                <li>Behavioral health and System-based practice.</li>
                                                <li>Social Sciences: Legal/Ethical Issues & Professionalism/System-based Practice & Patient Safety.</li>
                                                <li>Multisystem Processes & Disorders</li>
                                                <li>A systemic approach to disorders, prevention, diagnosis, and case solving: Immune system, nervous system, cardiovascular system, etc.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-5 img-right">
                <img src="../../assets/img/pre-med.png" alt="program" class="max-100">
                <div class="program-ctas">
                    <div class="btn-1">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#brochureModal">download brochure</a>
                    </div>
                    <div class="btn-1">
                        <a href="#">apply now!</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>