@font-face {
    font-family: 'gothamblack';
    src: url('gotham-black-webfont.woff2') format('woff2'), url('gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold';
    src: url('gothambold-webfont.woff2') format('woff2'), url('gothambold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambold_italic';
    src: url('gothambolditalic-webfont.woff2') format('woff2'), url('gothambolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothambook';
    src: url('gothambook-webfont.woff2') format('woff2'), url('gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothamlight';
    src: url('gothamlight-webfont.woff2') format('woff2'), url('gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}