<div class="section-inner-banner" style="background-image: url(../../assets/img/inner-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Message from Leadership</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-float-img content-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-auto">
                <div class="img-float-style img-float-right leader">
                    <img src="../../assets/img/leader-1.png" alt="leader">
                </div>
            </div>
            <div class="col-md-9">
                <div class="leader-content float-style-content float-pad-left">
                    <p>Welcome to The Citadel Institute of Medical Sciences! I am honored to serve as the college’s Chief Academic Officer and to be leading our efforts in medical education, patient care, humanitarian initiatives, and research as we move
                        our college forward in all these key mission areas.</p>


                    <p>Our teaching programs include an internationally recognized undergraduate medical degree (MBBS) and EFCMG aligned 4-year MD program curriculum that is designed with the same pre-requisites as US students require, thus offering students
                        a strong foundation required for Step 1, Step 2 CK, and Residency. In addition, CIMEDS would give lateral entry to doctors who have qualified the MBBS program and aim to obtain US Practice License through USMLE®-guidance training.</p>


                    <p>We proudly offer these programs through our Pathbreaking Pedagogy & Platform, a unique combination of Online Self learning, Live Classes and Campus Immersion. Collectively, learners will benefit from the expertise and experience of
                        our highly talented diverse faculty. Our dedicated faculty members are not only educators and clinicians, but also leaders in developing the knowledge that guides teaching and patient care. </p>

                    <p>We strive to create a learning culture that prepares students for lifelong learning and equips them with the ability to serve their patients and communities, especially the less-enabled segments of the society.</p>

                    <p>CIMEDS is now at the stage of signing memoranda of understanding with our affiliated training hospitals in readiness for clinical rotations. Future campuses will also be established in Fiji, Australia, and Canada over the next 2 years.
                        All our campuses will carry ECFMG and local Government approvals.</p>

                    <p>I encourage you to learn more about what the The Citadel Institute of Medical Sciences has to offer through the pages of this website.</p>

                    <p>Join us on this exciting journey, if you may.</p>

                    <p>Sincerely,</p>

                    <h4>Dr. Krishnabhat MD. PhD, Chief Academic Advisor

                    </h4>
                    <span> Chief Academic Advisor</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-float-img content-dark mt-5 d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-auto order-md-2">
                <div class="img-float-style img-float-left leader">
                    <img src="../../assets/img/leader-2.png" alt="leader">
                </div>
            </div>
            <div class="col-md-9 order-md-1">
                <div class="leader-content float-style-content float-pad-right">
                    <p>There is no doubt that the nearly two years of the pandemic have been challenging. Each of us is justified in feeling exasperated or exhausted after all we’ve been through. And with the constant reminders of case numbers, hospitalizations,
                        and deaths, many of us remain fearful of the ongoing risk to ourselves and our loved ones, and mired in the protracted uncertainty of when this will all end. For those of you suffering under the stress and strain of it all, please
                        remember there are multiple resources available for support during these trying times, including Counseling and Mental Health Services for students, Harvard’s Employee Assistance Program and Work/Life Programs for employees, and
                        the HMS Ombuds Office for all staff, trainees, faculty, and students.

                    </p>
                    <p>Like many of you, I started to feel a deep weariness over the last semester. However, as I recently reflected on the past year, I felt my spirits lifting. Despite many obvious challenges, 2021 was an extraordinary year for HMS. Our
                        researchers published more than 4,300 papers related to COVID-19 on PubMed, significantly demystifying the disease. Our frontline health care workers contributed enormously to improving the treatment and clinical management of
                        SARS-CoV-2 infection. And HMS at large remained steadfastly committed, through MassCPR and other initiatives, to fostering global scientific and clinical collaboration for the betterment of human health worldwide.</p>
                    <h4>Dr. Krishna Bhat, MD, Phd

                    </h4>
                    <span>Chief Academic Advisor</span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section-float-img content-dark mt-5 mb-5 d-none">
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-auto">
                <div class="img-float-style img-float-right leader">
                    <img src="../../assets/img/leader-1.png" alt="leader">
                </div>
            </div>
            <div class="col-md-9">
                <div class="leader-content float-style-content float-pad-left">
                    <p>There is no doubt that the nearly two years of the pandemic have been challenging. Each of us is justified in feeling exasperated or exhausted after all we’ve been through. And with the constant reminders of case numbers, hospitalizations,
                        and deaths, many of us remain fearful of the ongoing risk to ourselves and our loved ones, and mired in the protracted uncertainty of when this will all end. For those of you suffering under the stress and strain of it all, please
                        remember there are multiple resources available for support during these trying times, including Counseling and Mental Health Services for students, Harvard’s Employee Assistance Program and Work/Life Programs for employees, and
                        the HMS Ombuds Office for all staff, trainees, faculty, and students.

                    </p>
                    <p>Like many of you, I started to feel a deep weariness over the last semester. However, as I recently reflected on the past year, I felt my spirits lifting. Despite many obvious challenges, 2021 was an extraordinary year for HMS. Our
                        researchers published more than 4,300 papers related to COVID-19 on PubMed, significantly demystifying the disease. Our frontline health care workers contributed enormously to improving the treatment and clinical management of
                        SARS-CoV-2 infection. And HMS at large remained steadfastly committed, through MassCPR and other initiatives, to fostering global scientific and clinical collaboration for the betterment of human health worldwide.</p>
                    <h4>Dr. Partha Bandyopadhyay, Phd
                    </h4>
                    <span>Managing Director & Academic Advisor</span>
                </div>
            </div>

        </div>
    </div>
</div>