<div class="section-inner-banner" style="background-image: url(../../assets/img/inner-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Recognitions and Accreditations</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-pad-left col-md-6 m-auto">
                <div class="content-dark">
                    <p>MedComm Education and Research Consultancy LLC has been founded under the umbrella of AKM Group by a group of passionate professionals from the fields of Healthcare and Education from across the globe. Experts from US, Gulf, India
                        and Australia have come together and set up the head office in Dubai as a global base. MedComm intends to set up Hospitals, Teaching Campuses and Research Centers across countries in South Pacific, Gulf, Africa, Asia and Central
                        Europe, with primary focus on making medical education scalable, economical and inclusive and add significant number of trained medical professionals who would serve the society. MedComm also intends to be a one stop consulting
                        service for </p>
                    <p>various requirements in Healthcare, Research, Education, Pharma and Medical Technology, for entities like NGOs, State Governments and eager start-ups in the domain. various requirements in Healthcare, Research, Education, Pharma and
                        Medical Technology, for entities like NGOs, State Governments and eager start-ups in the domain.</p>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0">
                <div class="cont-vidimg-wrap img-right">
                    <img src="../../assets/img/acc.png" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-acc-cont content-dark">
    <div class="container">
        <div class="col-container">
            <div class="col acc-wrap">
                <img src="../../assets/img/ecfmg.png" alt="ecfmg">
                <h3>Accreditations</h3>
                <p>CIMEDS campuses are accredited by the local Government Regulators, like Vanuatu Qualifications Authority. All campuses will be listed under Educational Commission for Foreign Medical Graduates (ECFMG).</p>

            </div>
            <div class="col acc-wrap">
                <img src="../../assets/img/musc.png" alt="musc">
                <h3>Affiliation</h3>
                <p>CIMEDS is affiliated to the Medical University of South Carolina for course content for the MD Program, and the programs will be recognized by various medical associations across the globe.</p>

            </div>
            <div class="col acc-wrap">
                <img src="../../assets/img/usme.png" alt="usme">
                <h3>Alignment</h3>
                <p>CIMEDS program content and pedagogy are aligned with USMLE®, NMC - India, and AMA - Australia, and students clearing the respective exam is one of the key program outcomes.</p>

            </div>
        </div>
    </div>
</div>