<div id="wrapper">
    <div class="section-hero-banner" style="background-image: url(../../assets/img/about-our-campus.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-cont-wrap">
                        <h1>About our Campuses!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- If Video Banner -->
    <!-- <div class="section-video-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-cont-wrap">
                        <h1>About our Campuses!</h1>
                    </div>
                </div>
            </div>
        </div>
        <video autoplay loop muted>
            <source src="../../assets/img/placeholder.mp4" type="video/mp4">
          </video>
    </div> -->
    <div class="section-single-campus camp-carousel-left content-dark mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-pad-right col-md-6 m-auto order-md-2">
                    <div class="content-dark">
                        <h3>VCM - Constituent College of CIMEDS</h3>
                        <p>Citadel Institute of Medical Sciences (CIMEDS) first campus is located at Port Villa - Vanuatu with branch campus set up in Bangladesh, India and a joint MBBS program at a partner campus in Fiji.</p>
                        <p>Future campuses will be established in UAE, Indonesia, and Australia over the next 2 years. All CIMEDS campuses will carry ECFMG and local Government approvals.</p>
                        <p>Bangladesh, Indonesia, and India. Upcoming projects also include having new campuses in UAE, Fiji, and Australia.</p>
                    </div>
                </div>
                <div class="col-md-6 m-auto g-0 order-md-1">
                    <div id="camp-single-carousel-1" class="camp-single-carousel">
                        <div class="camp-single-slide-item">
                            <img src="../../assets/img/r-1.jpg" alt="About CiMEDs">
                        </div>
                        <div class="camp-single-slide-item">
                            <img src="../../assets/img/r-2.jpg" alt="About CiMEDs">
                        </div>


                    </div>
                    <div id="camp-carousel-nav-1" class="camp-carousel-nav">
                        <div class="camp-single-slide-nav-item">
                            <img src="../../assets/img/r-1-nav.png" alt="About CiMEDs">
                        </div>
                        <div class="camp-single-slide-nav-item">
                            <img src="../../assets/img/r-2-nav.png" alt="About CiMEDs">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-single-campus camp-carousel-right content-dark bg-grey pt-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-pad-left col-md-6 m-auto">
                    <div class="content-dark">
                        <h3>Citadel Institute of Medical Sciences (CIMEDS) Port Villa, Vanuatu
                        </h3>
                        <p>The first campus of CIMEDS is located at Port Vila, Vanuatu. The Vanuatu archipelago is an island country situated in the South Pacific Ocean off the coast of Northern Australia, surrounded by New Guinea and Fiji on either side.</p>
                        <p>Along with the campus in Vanuatu, CIMEDS also has constituent campuses coming up in Bangladesh, Indonesia, and India. Upcoming projects also include having new campuses in UAE, Fiji, and Australia.</p>
                    </div>
                </div>
                <div class="col-md-6 m-auto g-0">
                    <div id="camp-single-carousel-2" class="camp-single-carousel">
                        <div class="camp-single-slide-item">
                            <img src="../../assets/img/camp-1.jpg" alt="About CiMEDs">
                        </div>
                        <div class="camp-single-slide-item">
                            <img src="../../assets/img/camp-2.jpg" alt="About CiMEDs">
                        </div>

                    </div>
                    <div id="camp-carousel-nav-2" class="camp-carousel-nav">
                        <div class="camp-single-slide-nav-item">
                            <img src="../../assets/img/camp-nav-1.png" alt="About CiMEDs">
                        </div>
                        <div class="camp-single-slide-nav-item">
                            <img src="../../assets/img/camp-nav-2.png" alt="About CiMEDs">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>