<div class="section-inner-banner" style="background-image: url(../../assets/img/qual-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Privacy Policy</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-pad-left col-md-12 m-auto">
                <div class="content-dark">
                    <h2>Introduction</h2>
                    <p>We, CIMEDS, are committed to protecting and respecting your privacy.</p>
                    <p>This policy (together with our Terms of Use sets out the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices
                        regarding your personal data and how we will treat it.</p>
                    <ul>
                        <li>Our privacy policy describes the ways in which we collect, store, use, and protect your personal information and it is important for you to review this privacy policy. By "personal information" we mean information that can be associated
                            with a specific person and can be used to identify that person.</li>

                        <li>We do not consider anonymized information to constitute personal information as it cannot be used to identify a specific person. We collect personal information from you when you use www.cimeds.org or its related websites and services
                            ("Site") (including, without limitation, when you purchase items or when you email our customer support team at info@www.cimeds.org). By providing us with your personal information, you expressly consent to us processing your
                            personal information in accordance with the terms of our privacy policy.</li>

                        <li>We may amend our privacy policy at any time by posting a revised version on the Site. The revised version will be effective at the time we post it and, following such posting, your continued use of the Site will constitute your
                            express consent to us continuing to process your personal information in accordance with the terms of our revised privacy policy.</li>

                        <li>We encourage you to check the Site regularly for the announcement of any amendments to our privacy policy.</li>

                        <li>All credit/debit card details and personally identifiable information will NOT be stored, sold, shared, rented, or leased to any third parties. 6. We provide online payment options for our customers and accept any credit or debit
                            card with MasterCard and Visa.</li>

                        <li>The multiple shipments may result in multiple postings to the cardholder's monthly statement.</li>

                        <li>This policy and any dispute or claim arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with UAE law and the
                            parties hereby submit to the non-exclusive jurisdiction of the federal courts situated in Dubai, UAE.
                        </li>
                    </ul>
                    <p><strong>Our privacy policy covers the following topics:</strong></p>
                    <ul>
                        <li>Our collection of your personal information</li>
                        <li>Our use of your personal information</li>
                        <li>Use of yours and other users' personal information</li>
                        <li>Accessing, reviewing and amending your personal information</li>
                        <li>Third-party website links</li>
                        <li>Cookies</li>
                        <li>No spam or spoof emails</li>
                        <li>Protecting your personal information</li>
                        <li>How you can contact us about privacy questions</li>
                    </ul>
                    <h3>Our collection of your personal information</h3>
                    <ul>
                        <li>As part of your registration on the Site, you will be asked to provide us with certain personal information, such as your name, shipping address, email address and/or telephone number and other similar information as well as some
                            additional information about you such as your designation, school name or other identifying information. Additionally, in order for us to verify your identity, at the time of delivery, we request you to provide a valid proof
                            of identification (e.g. in the form of a copy of your passport, resident's visa or permit, national ID card, driver's license or School ID if you have designated yourself as a teacher at the time of registration).</li>

                        <li>We will also need to collect selected financial information from you, such as your credit card and/or bank account details for online payment methods.</li>

                        <li>You will need to input this financial information into the "My Account" section of the Site. We use this financial information for billing purposes and for the fulfillment of your orders. Following your registration on the Site,
                            you should not post any personal information (including any financial information) anywhere on the Site other than on the My Account section of the Site. Restricting the posting of personal information to the My Account section
                            of the Site protects you from the possibility of fraud or identity theft. The posting by you of any personal information anywhere on the Site other than on the My Account section of the Site may lead to the suspension of your
                            use of the Site.</li>

                        <li>We will collect transactional information based on your activities using the Site, such as buying items. This transactional information is used solely in relation to the transactions you undertake on the Site and for no other reasons.</li>

                        <li>Please note that we may use your Internet protocol (or IP) address (which is a unique number assigned to your computer server or your Internet service provider (or ISP) to analyze user trends and improve the administration of the
                            Site.
                        </li>

                        <li>We may also collect information about your computer (for example, browser type) and navigation information (for example, the pages you visit on the Site) along with the times that you access the Site. Finally, we may collect additional
                            information from or about you in other ways not specifically described here. For example, we may collect information related to your contact with our customer support team or store results when you respond to a survey. We may
                            also collect feedback ratings and other comments relating to your use of the Site. Where we aggregate personal information for statistical purposes, such aggregated personal information shall be anonymized.
                        </li>
                    </ul>
                    <h3>Our use of your personal information</h3>
                    <ul>
                        <li>We only use your personal information to provide services and customer support to you; to measure and improve our services to you; to prevent illegal activities and implement our user agreement with you ("User Agreement"); troubleshoot
                            problems; collect fees; provide you with promotional emails and verify the information you give us with third parties. For example, we may share some of the personal information you give us with banks or credit card authorization,
                            processing, and verification services or with third parties for fraud screening purposes.</li>

                        <li>Though we make every effort to preserve your privacy, we may need to disclose your personal information to law enforcement agencies, government agencies or other third parties where we are compelled to do by court order or similar
                            legal procedure; where we are required to disclose your personal information to comply with law; where we are cooperating with an ongoing law enforcement investigation or where we have a good faith belief that our disclosure
                            of your personal information is necessary to prevent physical harm or financial loss, to report suspected illegal activity or to investigate a possible violation of our User Agreement.</li>

                        <li>In the event of a sale of www.cimeds.org or any of its affiliates and subsidiaries or any related business assets, your personal information may be disclosed to any potential purchaser for the purposes of the continued provision
                            of the Site or otherwise in relation to any such sale. We may share your personal information with our other group companies so as to provide joint content and services to you, to help detect illegal acts and/or the violations
                            of our policies. This contact information will be the personal information provided by you to us on registration and, as a result, should always be kept up-to-date.</li>

                        <li>Additionally, information relating to items you are buying can be displayed on the Site. This information can include details of your user ID, feedback ratings, and associated comments relating to your use of the Site. Otherwise,
                            we will only disclose your personal information to a third party with your express permission.</li>

                        <li>We do not sell or rent any of your personal information to third parties in the normal course of doing business and will only share your personal information with third parties in accordance with this privacy policy.</li>

                        <li>By registering on the Site, you give us your express consent to receive promotional emails about our services and emails announcing changes to, and new features on the Site. If at any time, you decide that you do not wish to receive
                            any such emails, you can opt-out of receiving such emails by clicking on the link at the bottom of any of the emails or by going to the My Account section of the Site.</li>

                        <li>Additionally, we do use comments made by you about the Site for marketing purposes and by making such comments you expressly consent to our using such comments for marketing purposes.

                        </li>
                    </ul>
                    <h3>Accessing, reviewing and amending your personal information</h3>
                    <ul>
                        <li>You can access and review your personal information in the My Account section of the Site. If your personal information changes in any way or is incorrectly presented on the Site you should immediately update or correct your personal
                            information (as applicable) by accessing the My Account section on the Site or, alternatively, by contacting our customer support team at info@www.cimeds.org.
                        </li>

                        <li>Please note that we shall retain your personal information during and following the end of your use of the Site, as required to comply with the law, for technical troubleshooting requirements, to prevent fraud, to assist in any
                            legal investigations, and to take any other actions otherwise permitted by law.
                        </li>
                    </ul>
                    <h3>Third-party website links</h3>
                    <p>The Site may contain links to other websites. Please be aware that we are not responsible for the privacy practices of other websites. When you leave our site we encourage you to read the privacy statements of each and every website
                        you visit if you intend to provide personal information to that website. Our privacy policy applies solely to your personal information that we collect on the Site.</p>
                    <h5>Cookies</h5>
                    <li>Like many websites, the Site uses 'cookie' technology (small computer files placed on your computer's hard drive). When you go to particular website pages on the Site, the cookie identifies your browser with a unique, random number.</li>

                    <li>The cookies we use do not reveal any personal information about you. Cookies help us improve your experience of the Site and also help us understand which parts of the Site are the most popular. You are always free to decline our cookies
                        if your browser permits, although doing so may interfere with your use of the Site.

                    </li>
                    <h3>No spam or spoof emails</h3>
                    <p>We do not tolerate spam. To report Site related spam or spoof emails, please forward the email to info@www.cimeds.org You will not use our communication tools to send spam or otherwise send content that would violate our User Agreement.
                        We automatically scan and may manually filter messages to check for spam, viruses, phishing attacks, and other malicious activity or illegal or prohibited content. </p>
                    <h3>Protecting your personal information</h3>
                    <p> We hold your personal information on servers located in the UAE.</p>
                    <ul>
                        <li>By providing us with personal information, you consent to the transfer of your personal information to, and its storage on, our servers located in the UAE. We take every precaution to safeguard all your personal information from
                            unauthorized access, use, or disclosure.</li>

                        <li>All personal information is encrypted. However, the Internet is not a secure medium and we cannot guarantee the privacy of your personal information.</li>

                        <li>You must enter your username and password each time you want to access your account or make transactions on the Site.</li>

                        <li>Choose your password carefully using unique numbers, letters, and special characters.</li>

                        <li>Never share your username and password with anyone.</li>

                        <li>If you are concerned that your username or password has been compromised, please contact our customer support team at info@www.cimeds.orgimmediately and ensure you change your password by logging onto the My Account section of
                            the Site.
                        </li>
                    </ul>
                    <h3> How you can contact us about privacy questions</h3>
                    <p>If you have questions or concerns about our collection and use of your personal information, please contact our customer support team at info@www.cimeds.org.</p>
                    <h3>Customer Rights</h3>
                    <ul>

                        <li>The Consumer Code of Rights was issued under UAE Federal Law (24) 2006 by the Ministry of Economy (MoE). In Dubai, the Department of Economic Development's (DED) Commercial Control and Consumer Protection has been charged with
                            the responsibility to ensure that consumers and retailers alike comply with the Consumer Code of Rights, understand their responsibilities and, where resolution is sought, facilitate this process between retailers and consumers.</li>

                        <li>As a consumer, you have the right to safety, choice, and information. It is also expected of the consumer to understand retailer product warranties/guarantees in detail prior to making a purchase, and request for purchase receipts
                            to enable you to exercise your rights.</li>

                    </ul>
                    <p>For complaints and suggestions around your rights as a consumer, please contact DED's Helpline number 600-545555.</p>
                    <p>For further details on Consumer rights please visit <a href="http://www.consumerrights.ae">http://www.consumerrights.ae</a></p>
                </div>
            </div>

        </div>
    </div>
</div>