<div class="section-inner-banner" style="background-image: url(../../assets/img/pedagogy.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>WHY CHOOSE CIMEDS</h1>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section-standard-cont">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 g-0 order-md-2">
                <div class="cont-vidimg-wrap img-right">
                    <img src="../../assets/img/tec-1.jpg" alt="About CiMEDs" class="max-100">
                </div>
            </div>
            <div class="col-pad-left col-md-6 m-auto order-md-1">
                <div class="content-dark content-grey">
                    <p><strong>Learning should not be limited to just books and practices at present; it’s a combination of experiences across platforms and resources.  The joint MBBS Program brings to its students the following experiences that will ensure a multi dimension experience.</strong></p>
                    <div class="vision-cont">

                        <div>
                            <h5 style="font-family: 'gothambold';color:#003F8E;">PBL Internsive Online Learning</h5>
                            <p>The joint MBBS Program brings regular online sessions that focuses upon intensive problem-based learning (PBL) combined with self-learning and self-assessment. Problem-based learning is emphasized, as it integrates the basic
                                sciences with clinical content from its inception, ensuring students are better equipped to be clinical decision-makers upon completion of their degree.
                            </p>
                        </div>
                    </div>
                    <div class="vision-cont">

                        <div>
                            <h5 style="font-family: 'gothambold';color:#003F8E;">24/7 Access to Digital Cadaveric Lab</h5>
                            <p>The students get 24/7 individual access to a leading digital cadaveric lab to master Anatomy and Physiological skills. No waiting for a shared Cadaver with limited access. Student gets access to an Interactive Platform with
                                the latest 3D visualizations, dissections, videos, radiology imaging, and many more, to supercharge your learning.

                            </p>
                        </div>
                    </div>
                    <div class="vision-cont">

                        <div>
                            <h5 style="font-family: 'gothambold';color:#003F8E;">Large Volume of Online Books</h5>
                            <p>The joint MBBS Program helps students expand and enrich their clinical knowledge with a large volume of online books ranging from foundation content to the latest trends. Students get 24 x 7 access to world-class books and
                                leading journals for their studies post the instructor-led sessions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section-standard-cont">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 g-0">
                <div class="cont-vidimg-wrap img-left">
                    <img src="../../assets/img/tec-2.jpg" alt="About CiMEDs" class="max-100">
                </div>
            </div>
            <div class="col-pad-right col-md-6 m-auto">
                <div class="content-dark content-grey">
                    <div class="vision-cont">

                        <div>
                            <h5 style="font-family: 'gothambold';color:#003F8E;">Access to Liv Medi-Consult Platform</h5>
                            <p>The students get early access to OPD Diagnostics and Consultation via LIVE Medi-Consult platform, which enables the students to collect and refer to numerous clinical studies. A continuous exposure of telemedicine sessions
                                helps the student learn the various aspects of Medical Communication and Medical Terminology along with the clinical aspects of the cases..</p>
                        </div>
                    </div>
                    <div class="vision-cont">

                        <div>
                            <h5 style="font-family: 'gothambold';color:#003F8E;">Live Medi-Surgery platform</h5>
                            <p>The student gets timely exposure to OT Session via LIVE Medi-Surgery platform, that enables the student connect with leading Doctors and learn from their experience during and after the procedures.</p>
                        </div>
                    </div>
                    <div class="vision-cont">

                        <div>
                            <h5 style="font-family: 'gothambold';color:#003F8E;">Digital Patient</h5>
                            <p>The students naturally improve their Medical Communication and Physiology Skills with a Digital Patient equipped with Natural Language Processing, that responds to any of the questions and clinical investigations.</p>
                        </div>
                    </div>
                    <div class="vision-cont">

                        <div>
                            <h5 style="font-family: 'gothambold';color:#003F8E;">Access to Digital Data Warehouse</h5>
                            <p>Students access a digital data warehouse of clinical case studies collected over years. The case studies will support their learning and understanding of Pre-Clinical and Clinical aspects across specialties.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>