<div class="section-inner-banner" style="background-image: url(../../assets/img/pedagogy.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>WHY CHOOSE CIMEDS</h1>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="section-why-cimeds pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-dark">
                <h2 class="wow fadeIn" data-wow-delay="0.5s">Programs & Pedagogy</h2>
                <p class="wow fadeIn" data-wow-delay="0.7s">CIMEDS is among the most technology savvy organizations and the Pedagogy & Platforms are aligned to delivering a state-of-the-art educational experience to the students. CIMEDS brings to medical education, a unique combination of Online
                    Self Learning, Live Virtual Classes, and Campus Immersion, a learning methodology that helps scale up the number of learners across regions, without compromising the quality of learning. This opens up doors of medical education to
                    learners who miss out due to lack of seats or economic background. Programs & Pedagogy
                </p>
                <p class="wow fadeIn" data-wow-delay="0.9s">CIMEDS brings to medical education, a unique blend of Live Virtual Classes, and Campus Immersion, with a learning methodology that helps scale up the number of learners across regions, without compromising the quality of learning. This
                    opens up doors of medical education to learners who miss out due to lack of seats or economic background.</p>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1s">
                    <img src="../../assets/img/why-1.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Early Clinical Exposure</h5>
                    <p>A unique tech-based solution for CIMEDS students to shadow telemedicine sessions led by licensed medical practitioners, followed by a round table discussion on the case with the experts. The participation will help early exposure to
                        clinical cases and will help earn relevant credits.</p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1.2s">
                    <img src="../../assets/img/why-2.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Early Surgery Exposure</h5>
                    <p>A unique tech platform to enable learners to look inside a live Surgery Room remotely, interact with the surgeon during the procedure, and refer to the recorded session with narration in the future.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1.4s">
                    <img src="../../assets/img/why-3.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Live Virtual Classes</h5>
                    <p>For the off-campus modules, learners will have regular classes with the faculty through a live virtual platform for coverage of non-clinical concepts, mentorship, and doubt clearing. Learners will also access a world-class LMS to share
                        content, track progress, engage with others and benefit from peer-to-peer learning.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1.6s">
                    <img src="../../assets/img/why-4.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Campus Immersion</h5>
                    <p>Learners will spend initial part of the off-campus time with our global partner hospital for practical learning and the last few years at one of our campus locations.</p>
                </div>
            </div>
        </div>
    </div>
</div>