<div class="section-inner-banner" style="background-image: url(../../assets/img/manage-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Management Team</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-float-img content-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-auto">
                <div class="img-float-style img-float-right leader">
                    <img src="../../assets/img/leader-1.png" alt="leader">
                </div>
            </div>
            <div class="col-md-9">
                <div class="leader-content flt-team-cont float-style-content float-pad-left">
                    <h3>Dr. Partha Bandyopadhyay
                    </h3>
                    <h4>PhD Managing Director and Academic Advisor</h4>
                    <p><strong>Dr. Partha Bandyopadhyay</strong> (UAE) is a dynamic senior leader, with over 30 years of experience, across 60+countries, primarily in Healthcare and Pharmaceutical Industry. He has been a shining light for UAEduring the pandemic
                        time and has led from the front in all aspects of the fight with Covid-19, liketesting, vaccinations and field hospitals. Dr. Banerjee is a well-known personality in the field ofrenal care in India, Europe and Africa as has contributed
                        immensely towards the health care of thepatients suffering from kidney diseases, by launching multiple renal care centres in India and otherparts of the world. He has been working with the critical care segments since 1996 and
                        hisdedication towards his work and motives had made him a global leader in strategy planning andstrategic positioning as he has managed many business operations in different countries all overthe world.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-float-img content-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-auto order-md-2">
                <div class="img-float-style img-float-left leader">
                    <img src="../../assets/img/leader-2.png" alt="leader">
                </div>
            </div>
            <div class="col-md-9 order-md-1">
                <div class="leader-content flt-team-cont float-style-content float-pad-right">
                    <h3>Dr. Krishna Bhat
                    </h3>
                    <h4>MD. PhD Chief Academic Advisor - MedComm
                    </h4>
                    <p><strong>Dr. Krishna Bhat</strong>, originally from India, is a Professor of Molecular Medicine and Neurology atMorsani College of Medicine, University of South Florida, Tampa, Florida, USA. He holds theMary and Harry Goldsmith Endowed
                        Chair and has a research program in the NeuroscienceInstitute. His research work focuses on brain development and diseases such as theAlzheimer’s, Frontotemporal dementia and Amyotrophic Lateral Sclerosis. Research in hislaboratory
                        is funded by multiple grants from the National Institutes of Health (NIH), March ofDimes, and Parseghian Foundation. He is the recipient of Albert Levy Scientific ResearchAward in 2002. He brings years of experience teaching medical
                        students, graduate students,residents in universities in the USA</p>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-float-img content-dark mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-auto">
                <div class="img-float-style img-float-right leader">
                    <img src="../../assets/img/leader-1.png" alt="leader">
                </div>
            </div>
            <div class="col-md-9">
                <div class="leader-content flt-team-cont float-style-content float-pad-left">
                    <h3>Dr. Tharaka Dunuwila
                    </h3>
                    <h4>MD, PhD Assistant Dean Academic Affairs
                    </h4>
                    <p><strong>Tharaka Dunuwila</strong> earned his medical degree (MD) at Tbilisi State Medical University. Having completed his residency training, he went on to practice clinical medicine for a few years before he veered in to medical
                        education and research. He completed his PhD in Immunology and worked as a senior lecturer at Georgian American University and Georgian National University. He has been a visiting lecturer several times at BMS Sri Lanka - Sri Lankan
                        partner university for University of Northumbria, UK and mentored research projects of final year students in the faculty of biomedicine and biotechnology. In addition, he also puts pen to paper and delights in both medical and
                        scientific writing at Livingston research. He is an active member of AMEE and IAMSE.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section-admin-team section-acc-cont content-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>The Administrative Team</h2>
            </div>
        </div>

        <div class="col-container">
            <div class="col admin-team-wrap">
                <img src="../../assets/img/admin-1.png" alt="admin">
                <h5>Mr. Debtirtha Banerjee
                    <span>BCA, MBA - Chief Operating Officer</span>
                </h5>
                <p>Debtirtha Banerjee is an accomplished global business leader with 18+ years of experience across domains viz. Education, Publishing, Automotive & Automobiles, FMCG, Life Insurance and Telecom, Debtirtha has held general management and
                    key functional roles for E-Commerce, Technology, Customer Experience, Loyalty Management and Partnership lines. He holds a high degree of commercial acumen, leadership skills, adaptability quotient and collaborative abilities. He has
                    been successful in defining growth strategies, building high-performance teams, and led Product and Marketing Strategies for brands like Manipal, Reader’s Digest, Tata Motors, Castrol and ICICI Prudential Life Insurance.</p>
            </div>
            <div class="col admin-team-wrap">
                <img src="../../assets/img/admin-2.png" alt="admin">
                <h5>Mr. Sunil Kumar
                    <span>, BE, MBA - Registrar & Administrative Head</span>
                </h5>
                <p>Sunil Kumar has 20 years of entrepreneurial and 11 years in corporate experience, having worked in diverse businesses like healthcare, education, infrastructure projects, manufacturing, international trade, and collaborations. His key
                    strengths are aligned in steering the collective stakeholders in creating a value proposition. He has served as CEO in his entrepreneurial journey and worked with several Healthcare conglomorates as Chief of projects, Chief risk officer,
                    Head of Operations & HR. He has an MBA in entrepreneurship, double engineering graduate in Industrial production and Civil engineering, certifications in Project management, HR, quality, risk, and finance.</p>
            </div>
            <div class="col admin-team-wrap">
                <img src="../../assets/img/admin-3.png" alt="admin">
                <h5>George Jonathan Mael Toka

                    <span>Campus Director</span>
                </h5>
                <p>Based out of Port Vila, Mr. Toka is an educationist with over 30 years of extensive experience in establishing, managing, training, teaching and administration at the ministry of education along with regulatory governance in public and
                    private academic institutions in and around the South Pacific region. Mr Toka has taken over as Director of the Campus and will take care of day to day campus operations and activities.</p>
            </div>
        </div>
    </div>
</div>