<div class="section-hero-banner" style="background-image: url(../../assets/img/banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-cont-wrap">

                    <h1>Redefining Medical Education<br> for the Future</h1>
                    <h2 class="d-none">Learn to Help.</h2>
                    <a href="#ourcampus"><i class="fa fa-angle-double-down"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section-our-campus pb-3" id="ourcampus">
    <div class="campus-slider">
        <div class="campus-slide-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-pad-right col-md-6 m-auto order-1 order-md-2 pt-5 pb-5">
                        <div class="content-dark">
                            <h2 class="wow fadeIn" data-wow-duration="1.2s">About our Campuses!</h2>
                            <h4>Citadel Institute of Medical Sciences (CIMEDS) Port Villa, Vanuatu
                            </h4>
                            <p>The first campus of CIMEDS is located at Port Vila, Vanuatu. The Vanuatu archipelago is an island country situated in the South Pacific Ocean off the coast of Northern Australia, surrounded by New Guinea and Fiji on either
                                side.
                            </p>
                            <p>Along with the campus in Vanuatu, CIMEDS also has constituent campuses coming up in Bangladesh, Indonesia, and India. Upcoming projects also include having new campuses in UAE, Fiji, and Australia.</p>
                            <div class="btn-1">
                                <a routerLink="campus">Know More about our Campus!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 g-0 order-2 order-md-1">
                        <div class="campus-wrapper-slider">
                            <div class="campus-slides" style="background-image: url(../../assets/img/camp-1.jpg);">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="campus-slide-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-pad-right col-md-6 m-auto order-1 order-md-2 pt-5 pb-5">
                        <div class="content-dark">
                            <h2 class="wow fadeIn" data-wow-duration="1.2s">About our Campuses!</h2>
                            <h4>VCM - Constituent College of CIMEDS</h4>
                            <p>UOWD’s new ‘Campus of the Future’ aims to cater to the anticipated surge in international students as the world adopts a more globalised approach to higher education.</p>
                            <p>The Vanuatu archipelago is an island country located in the South Pacific Ocean off the coast of Northern Australia surrounded by New Guinea and Fiji on either side.
                            </p>
                            <p>Vanuatu uses English and French as the principal language for education.</p>
                            <p>VCM has been acquired by CIMEDS in 2021 and has been relaunched by new management and team.</p>
                            <div class="btn-1">
                                <a href="#">Know More about our Campus!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 g-0 order-2 order-md-1">
                        <div class="campus-wrapper-slider">
                            <div class="campus-slides" style="background-image: url(../../assets/img/campus-1.png);">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

</div>


<div class="section-why-cimeds pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-dark">
                <h2 class="wow fadeIn" data-wow-delay="0.5s">Why CIMEDS?</h2>
                <p class="wow fadeIn" data-wow-delay="0.7s">CIMEDS brings to medical education, a unique combination of Online Self Learning, Live Virtual Classes, and Campus Immersion, a learning methodology that helps scale up the number of learners across regions, without compromising the quality
                    of learning. This opens up doors of medical education to learners who miss out due to lack of seats or economic background.</p>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1s">
                    <img src="../../assets/img/why-1.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Early Clinical Exposure</h5>
                    <p>We will have technological tools for learners to get an early access to clinics and clinical practices. This will be extended to initiatives like Student-Run.
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1.2s">
                    <img src="../../assets/img/why-2.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Online Learning</h5>
                    <p>Use of world class Learning Management System (LMS) to keep learners engaged, share content, track progress and drive peer-to-peer learning.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1.4s">
                    <img src="../../assets/img/why-3.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Live Virtual Classes</h5>
                    <p>Learners not in campus will have regular classes with the faculty through live virtual platform for coverage of critical concepts, mentorship and doubt clearing.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="why-cimeds-box-wrap wow fadeIn" data-wow-delay="1.6s">
                    <img src="../../assets/img/why-4.svg" alt="Why CIMEDS?" class="max-100">
                    <h5>Campus Immersion</h5>
                    <p>Learners will spend initial part of the off-campus time with our global partner hospital for practical learning and the last few years at one of our campus locations.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-explore-programs pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-dark">
                <h2 class="wow fadeIn" data-wow-delay="0.5s">Explore Our Programs</h2>
                <p class="wow fadeIn" data-wow-delay="0.7s">Our educational programs advance CIMEDS Medical School’s core mission to alleviate human suffering by nurturing a diverse group of leaders and future leaders in both clinical care and biomedical inquiry. These individuals are on the front
                    lines of medicine and science serving individuals and populations locally, nationally, and globally.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 offset-md-1">
                <div class="programs-carousel generic-carousel">
                    <div class="explore-prog-wrap">
                        <h4>Global MD Program </h4>
                        <div class="prog-thumb" style="background-image: url(../../assets/img/prog-1.png);"></div>
                        <p>A global MD Program, aligned to USMLE, supplemented with Pre-Medical training module taken remotely or at the campus, while Pre-Clinical and Clinical modules are taken at one of our campuses with special preps for the USMLE Step
                            1 and Step 2 exams.</p>
                        <div class="btn-2">
                            <a routerLink="globalmd">know more!</a>
                        </div>
                    </div>
                    <div class="explore-prog-wrap">
                        <h4>MBBS Program</h4>
                        <div class="prog-thumb" style="background-image: url(../../assets/img/prog-2.png);"></div>
                        <p>A campus-based program whose curriculum is aligned to NMC - India, with a primary focus on Indian sub-continents, conducted at the designated Global Campuses followed by an Internship at one of the partner hospitals. Post the program
                            students are eligible for Foreign Medical Graduates (FMG) Exam in India.</p>
                        <div class="btn-2">
                            <a routerLink="mbbs">know more!</a>
                        </div>
                    </div>
                    <div class="explore-prog-wrap">
                        <h4>USMLE Program</h4>
                        <div class="prog-thumb" style="background-image: url(../../assets/img/prog-1.png);"></div>
                        <p>The program enables MBBS Graduates to earn an MD qualification and target medical residency programs in countries like the US, Canada, Australia, New Zealand, and the Middle East. The program also allows an option to prepare for
                            the Australian Medical Council Exams (AMC).</p>
                        <div class="btn-2">
                            <a routerLink="usmle">know more!</a>
                        </div>
                    </div>
                    <div class="explore-prog-wrap">
                        <h4>Pre Medical</h4>
                        <div class="prog-thumb" style="background-image: url(../../assets/img/prog-2.png);"></div>
                        <p>Nursing Qualification Program will cater to the vast requirement of nursing professionals globally. The program will be conducted in blended mode with the support of leading technologies and facilities of our partner hospitals.</p>
                        <div class="btn-2">
                            <a href="#">know more!</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-11 offset-md-1">
                <div class="btn-1">
                    <a href="#">See All Programs!!</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-success-stories pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h2>Know More about<br> Our Mentors</h2>
                <div class="stories-slider">
                    <div class="story-item">
                        <div class="content-dark">
                            <h4>Dr. Partha Bandyopadhyay, PhD Managing Director and Academic Advisor
                            </h4>
                            <p>Dr. Partha Bandyopadhyay (UAE) is a dynamic senior leader, with over 30 years of experience, across 60+countries, primarily in Healthcare and Pharmaceutical Industry. He has been a shining light for UAEduring the pandemic time
                                and has led from the front in all aspects of the fight with Covid-19, liketesting, vaccinations and field hospitals. Dr. Banerjee is a well-known personality in the field ofrenal care in India, Europe and Africa as has
                                contributed immensely towards the health care of thepatients suffering from kidney diseases, by launching multiple renal care centres in India and otherparts of the world. He has been working with the critical care segments
                                since 1996 and hisdedication towards his work and motives had made him a global leader in strategy planning andstrategic positioning as he has managed many business operations in different countries all overthe world.</p>

                        </div>
                    </div>
                    <div class="story-item">
                        <div class="content-dark">
                            <h4>Dr. Krishna Bhat MD. PhD Chief Academic Advisor - MedComm
                            </h4>
                            <p>Dr. Krishna Bhat, originally from India, is a Professor of Molecular Medicine and Neurology atMorsani College of Medicine, University of South Florida, Tampa, Florida, USA. He holds theMary and Harry Goldsmith Endowed Chair
                                and has a research program in the NeuroscienceInstitute. His research work focuses on brain development and diseases such as theAlzheimer’s, Frontotemporal dementia and Amyotrophic Lateral Sclerosis. Research in hislaboratory
                                is funded by multiple grants from the National Institutes of Health (NIH), March ofDimes, and Parseghian Foundation. He is the recipient of Albert Levy Scientific ResearchAward in 2002. He brings years of experience teaching
                                medical students, graduate students,residents in universities in the USA.</p>
                        </div>
                    </div>
                    <div class="story-item">
                        <div class="content-dark">
                            <h4>Dr. Tharaka Dunuwila MD, PhD Assistant Dean Academic Affairs
                            </h4>
                            <p>Tharaka Dunuwila earned his medical degree (MD) at Tbilisi State Medical University. Having completed his residency training, he went on to practice clinical medicine for a few years before he veered in to medical education
                                and research. He completed his PhD in Immunology and worked as a senior lecturer at Georgian American University and Georgian National University. He has been a visiting lecturer several times at BMS Sri Lanka - Sri Lankan
                                partner university for University of Northumbria, UK and mentored research projects of final year students in the faculty of biomedicine and biotechnology. In addition, he also puts pen to paper and delights in both medical
                                and scientific writing at Livingston research. He is an active member of AMEE and IAMSE.</p>
                        </div>
                    </div>




                </div>
            </div>
            <div class="col-md-6 m-auto">
                <div class="stories-nav-wrapper">
                    <div class="stories-slider-nav">
                        <div class="rev_slider generic-carousel">
                            <div class="rev_slide">
                                <div class="test">
                                    <img src="../../assets/img/story-1.jpg" alt="stories" />
                                </div>
                            </div>
                            <div class="rev_slide">
                                <div class="test">
                                    <img src="../../assets/img/story-2.png" alt="stories" />
                                </div>
                            </div>
                            <div class="rev_slide">
                                <div class="test">
                                    <img src="../../assets/img/story-3.png" alt="stories" />
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="btn-1">
                    <a href="#">see all key people!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-organisation parallax-bg" style="background-image: url(../../assets/img/org-banner.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="org-logo">
                    <img src="../../assets/img/org-1.png" alt="" class="max-100">
                </div>
                <div class="org-logo">
                    <img src="../../assets/img/org-2.png" alt="" class="max-100">
                </div>
                <div class="org-logo">
                    <img src="../../assets/img/org-3.png" alt="" class="max-100">
                </div>
                <div class="org-logo">
                    <img src="../../assets/img/org-4.png" alt="" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-testimonials d-none pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 content-dark">
                <h2 class="wow fadeIn" data-wow-delay="0.2s">What Our Students Say</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 offset-md-1">
                <div class="testimonial-carousel generic-carousel">
                    <a href="#" class="testimonial-item-wrapper" data-bs-toggle="modal" data-bs-target="#testimonialModal" data-title="Saji hair" data-designation="CEO" data-body="<p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>">
                        <div class="testi-details">
                            <div>
                                <img src="../../assets/img/testi-img.png" alt="testimonial" />
                            </div>
                            <div>
                                <h3>Saji Nair</h3>
                                <h6>Wisoft Solutions CEO</h6>
                            </div>
                        </div>
                        <div class="testi-quote">
                            <p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>
                        </div>
                    </a>
                    <a href="#" class="testimonial-item-wrapper" data-bs-toggle="modal" data-bs-target="#testimonialModal" data-title="Saji hair" data-designation="CEO" data-body="<p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>">
                        <div class="testi-details">
                            <div>
                                <img src="../../assets/img/testi-img.png" alt="testimonial" />
                            </div>
                            <div>
                                <h3>Saji Nair</h3>
                                <h6>Wisoft Solutions CEO</h6>
                            </div>
                        </div>
                        <div class="testi-quote">
                            <p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>
                        </div>
                    </a>
                    <a href="#" class="testimonial-item-wrapper" data-bs-toggle="modal" data-bs-target="#testimonialModal" data-title="Saji hair" data-designation="CEO" data-body="<p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>">
                        <div class="testi-details">
                            <div>
                                <img src="../../assets/img/testi-img.png" alt="testimonial" />
                            </div>
                            <div>
                                <h3>Saji Nair</h3>
                                <h6>Wisoft Solutions CEO</h6>
                            </div>
                        </div>
                        <div class="testi-quote">
                            <p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>
                        </div>
                    </a>
                    <a href="#" class="testimonial-item-wrapper" data-bs-toggle="modal" data-bs-target="#testimonialModal" data-title="Saji hair" data-designation="CEO" data-body="<p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>">
                        <div class="testi-details">
                            <div>
                                <img src="../../assets/img/testi-img.png" alt="testimonial" />
                            </div>
                            <div>
                                <h3>Saji Nair</h3>
                                <h6>Wisoft Solutions CEO</h6>
                            </div>
                        </div>
                        <div class="testi-quote">
                            <p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>
                        </div>
                    </a>
                    <a href="#" class="testimonial-item-wrapper" data-bs-toggle="modal" data-bs-target="#testimonialModal" data-title="Saji hair" data-designation="CEO" data-body="<p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>">
                        <div class="testi-details">
                            <div>
                                <img src="../../assets/img/testi-img.png" alt="testimonial" />
                            </div>
                            <div>
                                <h3>Saji Nair</h3>
                                <h6>Wisoft Solutions CEO</h6>
                            </div>
                        </div>
                        <div class="testi-quote">
                            <p>At CIMEDS, you really feel like the experience and learning is tailored to you. Faculty and administration are constantly working directly with us in order to make medical school the best experience it can be.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-11 offset-md-1">
                <div class="btn-1">
                    <a href="#">See All Testimonials!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-standard-cont pt-5 content-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-pad-left col-md-6 m-auto">
                <div class="content-dark">
                    <h2>About CiMEDs</h2>
                    <p>CIMEDS brings to medical education, a unique combination of Online Self Learning, Live Virtual Classes, and Campus Immersion, a learning methodology that helps scale up the number of learners across regions, without compromising the
                        quality of learning. This combination makes medical education more inclusive towards learners who miss out due to lack of financial support or resources.</p>
                    <p>CIMEDS aims to make a significant addition to the number of well-trained, world-class medical professionals, who will contribute towards the healthcare and wellbeing of society.</p>
                    <div class="btn-1">
                        <a routerLink="about">Know More about Us!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-auto g-0">
                <div class="cont-vidimg-wrap">
                    <img src="../../assets/img/about.png" alt="About CiMEDs" class="max-100">
                </div>
            </div>
        </div>
    </div>
</div>