<div class="section-inner-banner" style="background-image: url(../../assets/img/program-2-ban.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-inner-cont-wrap">
                    <h1>Global MD Program</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-standard-cont content-dark pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-dark text-center">
                    <h2>Global MD</h2>
                    <p>The MD Program is a global program that provides modern western-style medical education; preparation for USMLE® is one of the priorities of the program. The structure of the program facilitates and equips learners with the skills and
                        knowledge to pass USMLE® Step 1, Step 2 before residency.</p>
                    <p>The program prepares learners to become competitive Medical Doctors with global exposure, ready to enter any postgraduate or residency medical training program. The learners get a minimum of 3 hours per week of clinical observations/
                        rotations right from the beginning of the program, to get exposed to the clinical settings and patient care from a very early stage.</p>
                    <p>The MD program delivered by CIMEDS is aligned to USMLE and prepares the learners for achieving residency and licensure in the United States, Canada, New Zealand, Australia, and the Middle East. The curriculum is designed with the same
                        pre-requisites as US students require, to offer students a strong foundation required for Step 1, Step 2 exams, and Residency. It is an integrated, systems-based curriculum that parallels the training received at a top US Medical
                        School. Prospective students can join the program at different stages according to the credits accumulated via their previous degree(s) or upon completing high school and therefore all students will have a personalized duration
                        of study that matches the US system of medical education.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section-program-breakdown program-layout-1 pt-5 content-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center content-red">
                <h2>6-year MD Program</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="global-six-v-pills-tab" role="tablist" aria-orientation="vertical">


                        <button class="nav-link active" id="global-six-v-1-tab" data-bs-toggle="pill" data-bs-target="#global-six-v-1" type="button" role="tab" aria-controls="global-six-v-1" aria-selected="false">
                            Eligibility
                        </button>
                        <button class="nav-link" id="global-six-v-2-tab" data-bs-toggle="pill" data-bs-target="#global-six-v-2" type="button" role="tab" aria-controls="global-six-v-2" aria-selected="false">Curriculum Information</button>
                        <button class="nav-link" id="global-six-v-3-tab" data-bs-toggle="pill" data-bs-target="#global-six-v-3" type="button" role="tab" aria-controls="global-six-v-3" aria-selected="false">Residency</button>


                    </div>
                    <div class="tab-content" id="global-six-v-pills-tabContent">
                        <div class="tab-pane fade show active" id="global-six-v-1" role="tabpanel" aria-labelledby="global-six-v-1-tab">
                            <h2>Eligibility</h2>
                            <p>10+2 years of formal education with Physics, Chemistry, and Biology Eligible candidates will have to clear CIMEDS Online Entrance Test to get admission to the program
                            </p>

                        </div>
                        <div class="tab-pane fade" id="global-six-v-2" role="tabpanel" aria-labelledby="global-six-v-2-tab">
                            <div class="program-content-accordion" id="global-six-v-2-content-accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-six-v-2-cont-acc-head-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#global-six-v-2-cont-acc-collapse-1" aria-expanded="true" aria-controls="global-six-v-2-cont-acc-collapse-1">
                                            Semester 1, 2, 3, 4
                                        </button>
                                    </h2>
                                    <div id="global-six-v-2-cont-acc-collapse-1" class="accordion-collapse collapse show" aria-labelledby="global-six-v-2-cont-acc-head-1" data-bs-parent="#global-six-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Biostatistics</li>
                                                <li>Molecular Biology</li>
                                                <li>Physics</li>
                                                <li>Chemistry (Organic & Inorganic)</li>
                                                <li>Medical Communication & Terminology</li>
                                                <li>Microbiology</li>
                                                <li>Anatomy</li>
                                                <li>Biochemistry & Nutrition</li>
                                                <li>Evidence-Based Medicine</li>
                                                <li>Community Medicine</li>
                                                <li>Physiology</li>
                                                <li>Pharmacology</li>
                                                <li>Neuroscience</li>
                                                <li>Psychology</li>
                                                <li>Seminar</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-six-v-2-cont-acc-head-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#global-six-v-2-cont-acc-collapse-2" aria-expanded="false" aria-controls="global-six-v-2-cont-acc-collapse-2">
                                            Semester 5, 6, 7, 8

                                        </button>
                                    </h2>
                                    <div id="global-six-v-2-cont-acc-collapse-2" class="accordion-collapse collapse" aria-labelledby="global-six-v-2-cont-acc-head-2" data-bs-parent="#global-six-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Multi-System Pathobiology</li>
                                                <li>Psychiatric Disorders</li>
                                                <li>Musculoskeletal System</li>
                                                <li>Hemic/Lymphatic Systems</li>
                                                <li>Respiratory System</li>
                                                <li>Circulatory System</li>
                                                <li>Urinary & Digestive Systems</li>
                                                <li>Women's & Children's Health</li>
                                                <li>Endocrine System</li>
                                                <li>External Causes of Disease</li>
                                                <li>Nervous System</li>
                                                <li>Medical Ethics</li>
                                                <li>Cultural Differences & Health Disparities</li>


                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-six-v-2-cont-acc-head-3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#global-six-v-2-cont-acc-collapse-3" aria-expanded="false" aria-controls="global-six-v-2-cont-acc-collapse-3">
                                            Step 1 Preparation & Completion
                                        </button>
                                    </h2>
                                    <div id="global-six-v-2-cont-acc-collapse-3" class="accordion-collapse collapse" aria-labelledby="global-six-v-2-cont-acc-head-3" data-bs-parent="#global-six-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <p>The modules are conducted in a systemic approach:
                                            </p>
                                            <ul>
                                                <li>Behavioral Science and Social Sciences</li>
                                                <li>Immunology and Microbiology</li>
                                                <li>Pathology</li>
                                                <li>Anatomy (Embryology, Histology, and Gross Anatomy)</li>
                                                <li>Physiology</li>
                                                <li>Pharmacology</li>
                                                <li>Biochemistry and Medical Genetics
                                                </li>
                                            </ul>
                                            <p>Each module listed below is designed to incorporate the main principles of basic sciences into clinical diagnoses, treatment, investigations, patient care, and day-to-day practice.</p>
                                            <ul>
                                                <li>Musculoskeletal</li>
                                                <li>Neuro</li>
                                                <li>Cardiac</li>
                                                <li>Respiratory</li>
                                                <li>Gastrointestinal</li>
                                                <li>Endocrine</li>
                                                <li>Genitourinary</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-six-v-2-cont-acc-head-4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#global-six-v-2-cont-acc-collapse-4" aria-expanded="false" aria-controls="global-six-v-2-cont-acc-collapse-4">
                                            Semester 9, 10, 11, 12
                                        </button>
                                    </h2>
                                    <div id="global-six-v-2-cont-acc-collapse-4" class="accordion-collapse collapse" aria-labelledby="global-six-v-2-cont-acc-head-4" data-bs-parent="#global-six-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Internal Medicine</li>
                                                <li>Surgery</li>
                                                <li>Obstetrics and Gynecology</li>
                                                <li>Neurology</li>
                                                <li>Psychiatry</li>
                                                <li>Pediatrics</li>
                                                <li>Emergency Medicine</li>
                                                <li>Research
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-six-v-2-cont-acc-head-5">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#global-six-v-2-cont-acc-collapse-5" aria-expanded="false" aria-controls="global-six-v-2-cont-acc-collapse-5">
                                            Step 2 Preparation & Completion
                                        </button>
                                    </h2>
                                    <div id="global-six-v-2-cont-acc-collapse-5" class="accordion-collapse collapse" aria-labelledby="global-six-v-2-cont-acc-head-5" data-bs-parent="#global-six-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>General Principles of foundation sciences.</li>
                                                <li>Biostatistics & Epidemiology/Population Health/Interpretation of Medical Literature.</li>
                                                <li>Behavioral health and System-based practice.</li>
                                                <li>Social Sciences: Legal/Ethical Issues & Professionalism/System-based Practice & Patient Safety.</li>
                                                <li>Multisystem Processes & Disorders</li>
                                                <li>A systemic approach to disorders, prevention, diagnosis, and case solving: Immune system, nervous system, cardiovascular system, etc.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="global-six-v-3" role="tabpanel" aria-labelledby="global-six-v-3-tab">
                            <h2>Residency</h2>
                            <h4>MD Certificate & Residency</h4>
                            <ul>
                                <li>Residency as per the Specialization</li>
                                <li>Step 3 Preparation & Completion</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-5 img-right">
                <img src="../../assets/img/pre-med.png" alt="program" class="max-100">
                <div class="program-ctas">
                    <div class="btn-1">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#brochureModal">download brochure</a>
                    </div>
                    <div class="btn-1">
                        <a href="#">apply now!</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="section-organisation parallax-bg" style="background-image: url(../../assets/img/prog-para.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Become a Doctor<br> Your Future in Medicine Starts Here</h2>
            </div>
        </div>
    </div>
</div>
<div class="section-program-breakdown program-layout-1 pt-5 content-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center content-red">
                <h2>4-year MD Program </h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="global-four-v-pills-tab" role="tablist" aria-orientation="vertical">


                        <button class="nav-link active" id="global-four-v-1-tab" data-bs-toggle="pill" data-bs-target="#global-four-v-1" type="button" role="tab" aria-controls="global-four-v-1" aria-selected="false">
                            Eligibility
                        </button>
                        <button class="nav-link" id="global-four-v-2-tab" data-bs-toggle="pill" data-bs-target="#global-four-v-2" type="button" role="tab" aria-controls="global-four-v-2" aria-selected="false">Curriculum Information</button>
                        <button class="nav-link" id="global-four-v-3-tab" data-bs-toggle="pill" data-bs-target="#global-four-v-3" type="button" role="tab" aria-controls="global-four-v-3" aria-selected="false">Residency</button>


                    </div>
                    <div class="tab-content" id="global-four-v-pills-tabContent">
                        <div class="tab-pane fade show active" id="global-four-v-1" role="tabpanel" aria-labelledby="global-four-v-1-tab">
                            <h2>Eligibility</h2>
                            <p>10+2+3/4 years of formal education with Bio-Science/Non-Bio-Science subjects Eligible candidates will have to clear CIMEDS Online Entrance Test to get admission to the program

                            </p>

                        </div>
                        <div class="tab-pane fade" id="global-four-v-2" role="tabpanel" aria-labelledby="global-four-v-2-tab">
                            <div class="program-content-accordion" id="global-four-v-2-content-accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-four-v-2-cont-acc-head-1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#global-four-v-2-cont-acc-collapse-1" aria-expanded="true" aria-controls="global-four-v-2-cont-acc-collapse-1">
                                            Semester 1, 2, 3, 4
                                        </button>
                                    </h2>
                                    <div id="global-four-v-2-cont-acc-collapse-1" class="accordion-collapse collapse show" aria-labelledby="global-four-v-2-cont-acc-head-1" data-bs-parent="#global-four-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Multi-System Pathobiology</li>
                                                <li>Psychiatric Disorders</li>
                                                <li>Musculoskeletal System</li>
                                                <li>Hemic/Lymphatic Systems</li>
                                                <li>Respiratory System</li>
                                                <li>Circulatory System</li>
                                                <li>Urinary & Digestive Systems</li>
                                                <li>Women's & Children's Health</li>
                                                <li>Endocrine System</li>
                                                <li>External Causes of Disease</li>
                                                <li>Nervous System</li>
                                                <li>Medical Ethics</li>
                                                <li>Cultural Differences & Health Disparities</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-four-v-2-cont-acc-head-2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#global-four-v-2-cont-acc-collapse-2" aria-expanded="false" aria-controls="global-four-v-2-cont-acc-collapse-2">
                                            Step 1 Preparation & Completion

                                        </button>
                                    </h2>
                                    <div id="global-four-v-2-cont-acc-collapse-2" class="accordion-collapse collapse" aria-labelledby="global-four-v-2-cont-acc-head-2" data-bs-parent="#global-four-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <p>The modules are conducted in a systemic approach:</p>
                                            <ul>
                                                <li>Behavioral Science and Social Sciences</li>
                                                <li>Immunology and Microbiology</li>
                                                <li>Pathology</li>
                                                <li>Anatomy (Embryology, Histology, and Gross Anatomy)</li>
                                                <li>Physiology</li>
                                                <li>Pharmacology</li>
                                                <li>Biochemistry and Medical Genetics</li>
                                            </ul>
                                            <p>Each module listed below is designed to incorporate the main principles of basic sciences into clinical diagnoses, treatment, investigations, patient care, and day-to-day practice.</p>
                                            <ul>
                                                <li>Musculoskeletal</li>
                                                <li>Neuro</li>
                                                <li>Cardiac</li>
                                                <li>Respiratory</li>
                                                <li>Gastrointestinal</li>
                                                <li>Endocrine</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-four-v-2-cont-acc-head-3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#global-four-v-2-cont-acc-collapse-3" aria-expanded="false" aria-controls="global-four-v-2-cont-acc-collapse-3">
                                            Semester 5, 6, 7, 8
                                        </button>
                                    </h2>
                                    <div id="global-four-v-2-cont-acc-collapse-3" class="accordion-collapse collapse" aria-labelledby="global-four-v-2-cont-acc-head-3" data-bs-parent="#global-four-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>Internal Medicine</li>
                                                <li>Surgery</li>
                                                <li>Obstetrics and Gynecology</li>
                                                <li>Neurology</li>
                                                <li>Psychiatry</li>
                                                <li>Pediatrics</li>
                                                <li>Emergency Medicine</li>
                                                <li>Research</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="global-four-v-2-cont-acc-head-4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#global-four-v-2-cont-acc-collapse-4" aria-expanded="false" aria-controls="global-four-v-2-cont-acc-collapse-4">
                                            Step 2 Preparation & Completion
                                        </button>
                                    </h2>
                                    <div id="global-four-v-2-cont-acc-collapse-4" class="accordion-collapse collapse" aria-labelledby="global-four-v-2-cont-acc-head-4" data-bs-parent="#global-four-v-2-content-accordion">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>General Principles of foundation sciences.</li>
                                                <li>Biostatistics & Epidemiology/Population Health/Interpretation of Medical Literature.</li>
                                                <li>Behavioral health and System-based practice.</li>
                                                <li>Social Sciences: Legal/Ethical Issues & Professionalism/System-based Practice & Patient Safety.</li>
                                                <li>Multisystem Processes & Disorders</li>
                                                <li>A systemic approach to disorders, prevention, diagnosis, and case solving: Immune system, nervous system, cardiovascular system, etc.
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="global-four-v-3" role="tabpanel" aria-labelledby="global-four-v-3-tab">
                            <h2>Residency</h2>
                            <h4>MD Certificate & Residency</h4>
                            <ul>
                                <li>Residency as per the Specialization</li>
                                <li>Step 3 Preparation & Completion</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-5 img-right">
                <img src="../../assets/img/md-prog.png" alt="program" class="max-100">
                <div class="program-ctas">
                    <div class="btn-1">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#brochureModal">download brochure</a>
                    </div>
                    <div class="btn-1">
                        <a href="#">apply now!</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>